body {
  background-color: #14bdac;
}

.container {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.activeStatusMessage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.activeDot {
  border-radius: 50%;
  text-align: center;
}

.active {
  background-color: #62db52;
}
.inactive {
  background-color: #eb2c1e;
}
.textActive {
  color: #62db52;
}
.textInactive {
  color: #eb2c1e;
}

.messageForm {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 98vw;
  height: 80%;
  position: absolute;
  top: 5px;
  overflow-y: auto;
}

.bubble {
  display: flex;
  overflow: auto;
  border-radius: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  word-wrap: break-word;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  overflow-x: hidden;
}
.bubble-left {
  margin-left: 0;
  background-color: #34e2ab;
}

.bubble-right {
  margin-left: auto;
  background-color: white;
}

.messageText {
  word-wrap: break-word;
  text-align: center !important;
  vertical-align: middle;
}

.icon {
  color: white;
  position: fixed;
  top: 0px;
  transition: 0.25s color;
}
.icon:hover {
  color: #c6fffc;
  cursor: pointer;
}
.icon:active {
  color: #a4fffa;
  cursor: pointer;
}

.iconLeft {
  left: 0px;
  top: -10px;
}
.iconRight {
  right: 10px;
}

@media only screen and (max-width: 768px) {
  .bubble {
    width: 60vw;
    min-height: 12.5vh;
    margin-top: 3vh;
    padding: 1vw;
  }
  .messageText {
    width: 50vw;
    font-size: 6vw;
  }

  .icon {
    font-size: 10vw;
  }
  .activeStatus {
    margin: 2vh;
  }
  .activeDot {
    width: 3vw;
    height: 3vw;
  }
  .activeText {
    line-height: 6.5vw;
    font-size: 8vw;
    margin-left: 2vw;
  }
  .messageAlert {
    width: 100%;
  }
  .alertHeader {
    font-size: 12.5vw;
  }
  .messageBody {
    font-size: 10vw;
  }
  .messageForm {
    bottom: 2vh;
  }
  .messageInput {
    font-size: 10vw;
    line-height: 10vw;
    width: 70%;
  }
  .sendBtn {
    margin-left: 2vw;
  }
}

@media only screen and (min-width: 768px) {
  .bubble {
    width: 60vw;
    min-height: 12.5vh;
    margin-top: 3vh;
    padding: 1vw;
  }
  .messageText {
    width: 50vw;
    font-size: 4vw;
  }

  .icon {
    font-size: 7vw;
  }
  .activeDot {
    width: 2vw;
    height: 2vw;
  }
  .activeText {
    line-height: 5vw;
    font-size: 5vw;
    margin-left: 2vw;
  }
  .activeStatusMessage {
    margin-bottom: -20vh;
  }
  .messageAlert {
    width: 100%;
  }
  .alertHeader {
    font-size: 5vw;
  }
  .messageBody {
    font-size: 5vw;
  }
  .messageForm {
    bottom: 2vh;
  }
  .messageInput {
    font-size: 3vw;
    line-height: 5vw;
    width: 70%;
  }
  .sendBtn {
    margin-left: 2vw;
    width: 50%;
    font-size: 3vw;
  }
}
@media (min-width: 1200px) {
  .bubble {
    width: 60vw;
    min-height: 10vh;
    margin-top: 3vh;
    padding: 0.2vw;
  }
  .messageText {
    width: 50vw;
    font-size: 1.5vw;
  }

  .icon {
    font-size: 4vw;
  }
  .activeStatus {
    display: none;
  }

  .activeText {
    line-height: 5vw;
    font-size: 5vw;
    margin-left: 2vw;
  }
  .messageAlert {
    width: 100%;
  }
  .alertHeader {
    font-size: 5vw;
  }
  .messageBody {
    font-size: 3vw;
  }
  .messageForm {
    bottom: 2vh;
  }
  .messageInput {
    font-size: 3vw;
    line-height: 3vw;
    width: 70%;
  }
  .sendBtn {
    margin-left: 2vw;
    width: 50%;
    font-size: 3vw;
  }
}
@media only screen and (max-height: 400px) {
  .messages {
    display: none;
  }
  .icon {
    display: none;
  }
  .activeStatusMessage {
    display: none;
  }
  .messageAlert {
    display: none;
  }
  .alertHeader {
    display: none;
  }
  .messageBody {
    font-size: 3vw;
  }
  .messageForm {
    bottom: 2vh;
  }
  .messageInput {
    font-size: 50vh;
    line-height: 3vw;
    width: 60vw;
    height: 80vh;
  }
  .sendBtn {
    margin-left: 2vw;
    width: 20vw;
  }
}
